<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Partage de vidéos </title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% include 'menu.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
